In [2]:
n = [1,2,55,1515]
print(n[2])

55

In [3]:
m = (21,52,88,48448,515)
print(m[:3])

(21, 52, 88)

In [5]:
m={
    "name":"vardhan",
    "age":20,
    "salary":20000
}
print(m["age"])

20